@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.pageContainer {
    flex-direction: column;
    height: 100vh;
    margin: 0 auto 0 auto;
    overflow: hidden;
    /*border: 1px solid black;*/
    background-color: #FF9A00;
}

nav {
    display: flex;
    justify-content: center;
}

.dataCardOuterWrapper {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #503651;
}

.dataCardWrapper {
    height: 80%;
    width: 92%;
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
}



.artistNameDesc {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 26px;
    color: #FF9A00;
}

.topArtists {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 32px;
    color: #FF9A00;
}

.artistChild {
    margin-top: -40px
}

.textMargin {
    margin-top: 20px;
}

.artistMargin {
    margin-top: 6px;
    font-size: 24px;

}

.topSongList {
    margin-top: 6px;
    font-size: 24px;
}

.artistInfo {
    margin-top: 20px;
}

li {
    list-style-type: none;
}

.artistName {
    font-family: 'Montserrat', serif;
    font-size: 40px;
    color: #FF9A00;
}

.topArtistDesc {
    font-family: 'Montserrat', serif;
    font-size: 42px;
    color: #FF9A00;
    margin-left: 5px;
    font-weight: 700;

}

.topSongDesc {
    margin-top: -30px;
}


.child {
    color: #FF7F5B;
    font-size: 2.5rem;
    /*border: 1px solid black;*/
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.imageChild {
    height: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.nameHeader {
    font-family: 'Montserrat', serif;
    font-size: 84px;
    overflow: hidden;
    animation: typing 2s forwards;
    width: 0;
    white-space: nowrap;
    margin-right: auto;
    transition: 1s;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes cursor-blink {
    100% {
        opacity: 0;
    }
}

.nameWrapper {
    display: table;
    /*border: 1px solid black;*/
    margin-left: 200px;
    margin-top: 100px;
}

.loginMessageWrapper {
    display: table;
    /*border: 1px solid black;*/
    margin-left: 200px;
    margin-top: 25px;
}

.loginMessage {
    font-family: 'Montserrat', serif;
    font-size: 48px;
    overflow: hidden;
    animation: typing 4s forwards;
    width: 0;
    white-space: nowrap;
    margin-right: auto;
    animation-delay: 2s;
}

.spotifyLoginButton {
}

.loginButton {
    display: table;
    text-align: center;
    border: 0px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-color: #B91D82;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    animation: fadeIn ease 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    visibility: hidden;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}


