:root {
    --scrollingArtistContainerEndHeight: 0px;
    --scrollingArtistContainerAnimationDelay: 200s;
}

html {
    height: 100vh;
}

.statsPageWrapper{
    height: 1000vh;
    background-color: #FF9A00;
    margin: 0 auto 0 auto;
}

.statsPageContainer {
    flex-direction: column;
    overflow: hidden;
    /*border: 1px solid black;*/
    animation: slide 8s forwards;
    animation-delay: var(--scrollingArtistContainerAnimationDelay);
}


@keyframes slide {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: var(--scrollingArtistContainerEndHeight);
    }
}


body {
    /*background: #000;*/
    height: 500vh;
}



.bigHeader {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 80px;
}

.wrapper {
    width: 70%;
    margin-left: 200px;
    height: 320px;
}

.topArtistBanner {
    margin-top: 1000px;
    display: flex;



}

.artistImage{
    filter: drop-shadow(-1px 1px 1px #000);
}

.scrollPageArtistName{
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 80px;
    color: #503651;
    opacity: 0;
    animation: fadeInAnimation;
    line-height: 60px;
    margin-left: 8px;
}

.topArtistText{
    font-family: 'Montserrat', serif;
    font-weight: 500;
    color: #503651;
    font-size: 22px;
    margin-left: 8px;
    width: 100%;
    text-overflow: ellipsis;
    opacity: 0;
    animation: fadeInAnimation;
}

.topArtistScroll{

}




@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




